.WeatherApp-content {
    padding : 10px 10px;
    /* background-image: linear-gradient(to bottom , #2b5876 , #4e4376) */
    
    /* background-image: linear-gradient(to bottom , #c33764 , #1d2671) */
    background-image: linear-gradient( 160.3deg,  rgba(29,7,64,1) 8.5%, rgb(93, 57, 97) 98.2% );
    /* background-image: radial-gradient( circle 780px at 37.8% 100.3%,  rgba(19,55,115,1) 2.2%, rgba(32,7,80,1) 20.2%, rgba(27,88,111,1) 58.6%, rgba(115,88,44,1) 75%, rgba(99,19,90,1) 89.6%, rgba(12,51,76,1) 96.1% ); */
}

form {
    padding: 20px 30px 25px;
}

form .form-control {
    /* border: 1px solid rgb(56,56,56); */
    border-radius: 0;
 /* box-shadow: 3px 3px 3px 2px rgb(56,56,56); */
    font-family: 'lato' , sans-serif;
    font-weight: 300;
    line-height: 25px;
    width: 120%;
    margin-left: 5px;
  
}

form .search-input {
    /* box-shadow: 5px 3px 3px 1px #202a4b; */
    font-family: 'lato' , sans-serif;
    font-size: 14px;
    padding-left: 15px;
}

.search-city-button {
    border-radius: 0;
   border: 1px solid white;
   color: white;
   font-size: 18px;
   padding:5px 10px;
   position: relative;
   left: 26px;
   outline: none;
}

.search-city-button:hover {
    border: 1px solid white;
    color: white;
}

.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
    box-shadow: none;
}