

footer {
  color: black;
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.1rem;
  margin-top: 1.2rem;
  text-align: center;
  text-decoration: none;
}

.WeatherApp {
  font-family: 'lato' , sans-serif;
  color: white;
  margin: 30px auto;
  max-width: 500px;
  max-height: 620px;
  padding: 4px;
  text-align: center;
  border: 1px solid red;

}

.WeatherApp-container {
  background-image:linear-gradient(to right , #365186 , #103783);
  color: white;
  padding: 5px;
  text-align: center;
  max-width: 525;
  max-height: 620px;
  box-shadow: 5px 10px 10px 5px rgba(15,15,15);
  
}

